rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin() {
      return request.auth.token.admin == true;
    }

    match /users/{userId} {
      allow read, write: if isAdmin();
    }

    match /sites/{siteId} {
      allow read, write: if isAdmin();
    }

    match /audit_logs/{logId} {
      allow read, write: if isAdmin();
    }

    match /site_metrics/{siteId} {
      allow read, write: if isAdmin();
    }
  }
}
