@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 180 5% 4%;
    --foreground: 210 20% 98%;
    --card: 220 26% 14%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 147 47% 69%;
    --primary-foreground: 228 14% 6%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 50.6%;
    --destructive-foreground: 210 20% 98%;
    --success: 142 71% 45%;
    --success-foreground: 210 40% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 147 47% 69%;
    --chart-1: 203 89% 53%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 222 14% 8%;
    --sidebar-foreground: 0 0% 80%;
    --sidebar-primary: 203 89% 53%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 222 14% 12%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 222 14% 15%;
    --sidebar-ring: 203 89% 53%;
  }
  .dark {
    --background: 180 5% 4%;
    --foreground: 210 20% 98%;
    --card: 220 26% 14%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 147 47% 69%;
    --primary-foreground: 228 14% 6%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 50.6%;
    --destructive-foreground: 210 20% 98%;
    --success: 142 71% 35%;
    --success-foreground: 210 40% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 147 47% 69%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 222 14% 8%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 203 89% 53%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 222 39% 21%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 222 39% 21%;
    --sidebar-ring: 203 89% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
