name: CI

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Lint
        run: npm run lint

      - name: Typecheck
        run: npm run typecheck

      - name: Build
        run: npm run build

      - name: Run E2E Tests
        run: |
          npm install -g firebase-tools
          firebase emulators:start &
          npm run start &
          sleep 30 # Wait for emulators and server to start
          npm run test:e2e
        env:
          FIREBASE_CLI_TOKEN: ${{ secrets.FIREBASE_CLI_TOKEN }}
          NEXT_PUBLIC_FIREBASE_PROJECT_ID: jushostit